/*###### Default ######*/
html,
header,
footer {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}
section{
  width: 100%;
  height: 100vh;
  min-height: 500px;
}
.ScrollUp{
  background-image: url(img/Up.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 30px;
  height: 30px;
  z-index: 1;
  top: 100%;
  left: 100%;
  transform: translate(-70px, -70px);
  margin: 10px;
  display: none;
  opacity: 0;
}
.ScrollUp:hover{
  cursor: pointer;
}
/*###### Nav bar ######*/

nav {
  width: 100%;
  margin: auto;
  position: absolute;
  z-index: 1;
  transition-duration: 0.5s;
}
nav .dropicon{
  display: none;
  font-size: 1.5em;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
nav .dropicon:hover{
  cursor: pointer;
}
nav .dropLogo{
  width: 200px;
  height: 40px;
  float: left;
  background-image: url(img/Logo2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
nav .Topnav {
  display: table;
  float: right;
}
nav .Topnav li {
  list-style-type: none;
  display: table-cell;
}
nav .Topnav li a, nav .dropLogo{
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
  margin: 10px 15px 10px 15px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
nav .Topnav li a:hover {
  color: rgb(175, 175, 175);
}
nav .Topnav li .LoginBoton {
  background: #4a90e2;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 5px 35px 5px 35px;
  margin: 10px 15px 10px 15px;
  line-height: 30px;
  border-radius: 15px;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

nav .Topnav li a, nav .Topnav li .LoginBoton{
  transition-property: margin, padding, height;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transform-style: preserve-3d;
}

/*###### Contenedores ######*/

.Contenedor{
  width: 100%;
}

.ContenedorPrincipal{
  position: absolute;
  transition-duration: 0.5s;
  width: 100%;
}

.ContenedorSecundario{
  position: absolute;
  transition-duration: 0.5s;
  width: 100%;
  transform: scale(0,1);
}


/*###### Home ######*/

.SeccionHome{
  display: flex;
}
.SeccionHome .Background{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: url(img/fa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2; 
}
.SeccionHome .ContenedorHome{
  margin: auto;
  text-align: center;
}
.SeccionHome .ContenedorHome .TextoPrincipal{
  font-size: 3.3em;
  font-weight: lighter;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
.SeccionHome .ContenedorHome .TextoSecundario{
  margin-top: 10%;
  font-size: 1.5em;
  font-weight: lighter;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  transition-duration: 0.2s;
}
/*###### Login ######*/


.SeccionHome .LoSiContenedor{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.6);
  z-index: 2;
  display: none;
  opacity: 0;
}
.SeccionHome .LoSiContenedor .Login{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25%;
  padding: 5%;
  margin: auto;
  background-color:	#142739;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition-duration: 0.3s;
  transform: scaleX(1)translate(-50%,-50%);
}

.SeccionHome .LoSiContenedor .lbl {
  color: #fff;
  width: 80%;
  text-align: right;
  font-size: 2.5em;
  padding-bottom: 15px;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
.SeccionHome .LoSiContenedor .Login form .ContFormLogin{
  width: 70%;
  display: table;
  margin: auto;
}
.SeccionHome .LoSiContenedor .Login form .ContFormLogin .LoginCampos{
  display: flex;
  flex-direction: column;
  width: 100%; 
}
.SeccionHome .LoSiContenedor .Login form .ContFormLogin .LoginCampos input{
  font-size: 1em;
  margin: 5px 0px 5px 0px;
}
.SeccionHome .LoSiContenedor .Login form .ContFormLogin .LoginBotones{
  display: flex;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.SeccionHome .LoSiContenedor .input-container {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #666666;
  padding: 5px;
  border-radius: 5px;
}

.SeccionHome .LoSiContenedor .Login form .ContFormLogin .LoginBotones button{
  width: 100%;
  color: #fff;
  background-color: #2fb76d;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  opacity: .65;
  font-size: .95em;
  line-height: 30px;
  padding: 5px;
  margin: 2% 5% 2% 5%;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  
}
.SeccionHome .LoSiContenedor .Login form .ContFormLogin .LoginBotones button:hover{
  cursor: pointer;
  
}
.field-validation-error {
    text-align: center;
    font-size: .875rem;
    padding: 5%;
    color: #f73131;
    transition-duration: 0.3s;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/*###### Map ######*/

.SeccionMap{
  background-color: white;
}
.SeccionMap .ContenedorMap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.SeccionMap .ContenedorMap h1{
  font-family: sans-serif;
  font-size: 2.6em;
  color: black;
  padding: 3%;
}
.SeccionMap .Map{
  width: 100%;
  height: 70%;
  margin: auto;
}

/*###### Menu ######*/

.SeccionMenu{
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.SeccionMenu .ContenedorMenu{
  width: 80%;
  padding-top: 100px;
}
.SeccionMenu .ContenedorMenu .Carta{
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}
.SeccionMenu .ContenedorMenu .Carta .Articulo{
  width: 190px;
  height: 240px;
  background-color: lightgoldenrodyellow;
  margin: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition-duration: 0.2s;
}
.SeccionMenu .ContenedorMenu .Carta .Articulo .artimage{
  width: 190px;
  height: 190px;
  background-image: url(img/pizza.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  
}

.SeccionMenu .ContenedorMenu .Carta .Articulo img{
  margin: auto;
}
.SeccionMenu .ContenedorMenu .Carta .Articulo p{
  font-family: cursive;
  color: black;
  text-align: center;
  margin: 2px;
  font-size: 1em;
}
.SeleccionArticulo{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  transition-duration: 0.3s;
  transform: scale(0,0);
  z-index: 2;
}
.SeleccionArticulo .SeleccionInfo{
  width: 60%;
  height: 70%;
  min-height: 300px;
  background-color: #DB881E;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-radius: 1.5%
  /*box-shadow: 0 0 0 5px rgba(0,0,0,0.2);*/
}
.SeleccionArticulo .SeleccionInfo img{
  margin: auto;
  border-radius: 2%;
}
.SeleccionArticulo .SeleccionInfo .SeleccionTextos{
  width: 50%;
  padding: 2%;
  background-color: #39648C;
  overflow-y: auto;
  border-radius: 1.5%;
  
}
.SeleccionArticulo .SeleccionInfo .SeleccionTextos h1{
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 2em;
}
.SeleccionArticulo .SeleccionInfo .SeleccionTextos p{
  color: white;
  font-size: 18px;
  margin-bottom: 1em;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
.SeleccionArticulo .SeleccionInfo .SeleccionTextos .SeleccionAgregar{
  position: sticky;
  width: 70px;
  top: 100%;
  left: 100%;
  color: #666666;
  text-align: center;
  padding: 5px 25px 5px 25px;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
}

.SeleccionArticulo .SeleccionInfo .SeleccionTextos .SeleccionAgregar:hover{
  cursor: pointer;
}

.ListaCompras{
  width: 100%;
  position: fixed;
  top: 100%;
  transition-duration: 0.3s;
  transform: translateY(-35px);
  display: none;
  opacity: 0;
  z-index: 5;
}
.ListaCompras .UpIcon{
  width: 55px;
  height: 36px;
  background-image: url(img/uparrow.png);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0px 20px 0px 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.ListaCompras .ListaTitulo{
  color: grey;
  background-color: white;
  font-size: 1.2em;
  padding: 2px 20px 2px 20px;
  border: 1px solid grey;
  font-family: cursive;
  cursor: pointer;
  transition-duration: 0.2s;
}
.ListaCompras .ListaArticulos{
  width: 100%;
  height: 250px;
  background-color: #39648C;
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  align-items: center;
}
.ListaCompras .ListaArticulos .ContenedorArticulo{
  display: inline-flex;
}
.ListaCompras .ListaArticulos .ContenedorArticulo .Articulo {
        width: 100px;
        height: 130px;
        background-color: wheat;
        border-radius: 5px;
        margin: 20px;
        display: inline-flex;
        flex-direction: column;
        cursor: pointer;
        transition-duration: 0.2s;
    }
    .ListaCompras .ListaArticulos .ContenedorArticulo .Articulo .artimage {
        width: 100px;
        height: 100px;
        background-image: url("img/pizza.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        
    }
.ListaCompras .ListaArticulos .ContenedorArticulo .Articulo img{
  margin: auto;
}
.ListaCompras .ListaArticulos .ContenedorArticulo .Articulo p{
  color: black;
  font-family: cursive;
  text-align: center;
  margin: auto;
  font-size: 1em;
}

/*###### Mobile ######*/

@media screen and (min-width: 1920px) {
  
}

@media screen and (max-width: 1919px) {
  
}

@media screen and (max-width: 1366px) {
  
}

@media screen and (max-width: 1024px) {
  /*###### Login y SingUp ######*/
  .SeccionHome .LoSiContenedor .Login, .SeccionHome .LoSiContenedor .SingUp{
    width: 50%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin,  .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup{
    width: 70%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin .LoginBotones button, .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup .SingupBotones button{
    margin: 2%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin .ResultadoLogin, .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup .ResultadoSingup{
    font-size: 1em;
    padding: 10px;
  }
}




@media screen and (max-width: 800px) {
  /*###### Login y SingUp ######*/
  .SeccionHome .LoSiContenedor .Login, .SeccionHome .LoSiContenedor .SingUp{
    width: 55%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin,  .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup{
    width: 80%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin .LoginBotones button, .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup .SingupBotones button{
    margin: 2%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin .ResultadoLogin, .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup .ResultadoSingup{
    font-size: 1em;
    padding: 10px;
  }
}


@media screen and (max-width: 680px) {
  /*###### Nav bar ######*/
  nav{
    position: absolute;
    background-color:white;
    z-index: 2;
  }
  nav .dropicon{
    display: block;
    float: right;
  }
  nav .Topnav{
    float: left;
    width: 100%;
    
  }
  nav .Topnav li:not(:nth-child(5)) {
    display: inline;
  }
  nav .Topnav li{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  nav .Topnav li a{
    text-align: left;
  }
  nav .Topnav li a, nav .Topnav li .LoginBoton{
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 0;
  }
  nav .Topnav li a, nav .dropicon{
    color: rgb(175, 175, 175);
  }
  /*###### Home ######*/
  nav .dropLogo{
    background-image: url(img/Logo.png);
  }
  /*###### Login y SingUp ######*/
  .SeccionHome .LoSiContenedor .Login, .SeccionHome .LoSiContenedor .SingUp{
    width: 70%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin,  .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup{
    width: 90%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin .LoginBotones button, .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup .SingupBotones button{
    margin: 2%;
  }
  .SeccionHome .LoSiContenedor .Login form .ContFormLogin .ResultadoLogin, .SeccionHome .LoSiContenedor .SingUp form .ContFormSingup .ResultadoSingup{
    font-size: 1em;
    padding: 10px;
  }
  /*###### Map ######*/
  .SeccionMap .ContenedorMap h1{
    font-family: sans-serif;
    font-size: 2.6em;
    color: black;
    padding: 5%;
  }
  .SeccionMap .Map{
    width: 100%;
    height: 70%;
    margin: auto;
    background-color: #336699;
  }
  /*###### Menu ######*/
  .SeccionMenu .ContenedorMenu{
    width: 90%;
  }
  .SeleccionArticulo .SeleccionInfo{
    flex-direction: column;
  }
  .SeleccionArticulo .SeleccionInfo .SeleccionTextos{
    width: 90%;
    height: 40%;
    padding: 5%;
  }
  .SeleccionArticulo .SeleccionInfo img{
    width: 50%;
  }
  .SeleccionArticulo .SeleccionInfo .SeleccionTextos h1{
    font-size: 1.5em;
  }
  .SeleccionArticulo .SeleccionInfo .SeleccionTextos p{
    font-size: 0.9em;
  }
}
